@{
    ViewBag.Title = "Logout";
   // Specify the layout page if applicable
}

<div>
    <h2>Logout</h2>
    <p>You have been successfully logged out.</p>

    <!-- Link to the login page -->
    <p><a href="@Url.Action("NewRequest", "Index")">Login</a></p>
</div>
