
<!DOCTYPE html>
<html>
<head>
    <title>Request Approved</title>
    <style>
        .centered-message {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: green;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="centered-message">
        Request number @ViewData["requestNumber"] approved.
    </div>
    <script>

        $(document).ready(function () {

            function getUrlParameter(sParam) {
                var sPageURL = window.location.search.substring(1),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }
                return false;
            };

            var isredirect = getUrlParameter("isredirect");
            if (isredirect == "true"){
                setTimeout(function () {
                    window.location.href = '/MyApprovals';
                }, 3000);
            }
            else{
                $(".openbtn").remove();
            }
           
           
        });

</script>
</body>
</html>

